.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  min-height: 240px;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}
