section {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
  border-bottom: 1px solid gray;
}
section p,
section li {
  font-size: 1.2rem;
  margin: 0.5em 0;
}

@media (max-width: 600px) {
  section p,
  section li {
    font-size: .96rem;
  }
}

section h3 {
  margin: 0.5em 0;
  text-transform: uppercase;
}

.content__header {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a7c957;
  height: 16rem;
}

.content__body {
  max-width: 1100px;
  width: 95%;
  margin: auto;
}

.page__title {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

iframe {
  margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 90vh;
}

@media (max-width: 600px) {
  iframe {
    height: 600px;
  }
}

.hori__boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hori__boxes li {
  width: 16em;
  text-align: center;
  padding: 2em;
  list-style-type: none;
  border: 1px solid gray;
}